<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Sistema PAP</title>

    <link
      rel="stylesheet"
      href="../assets/fonts/font-awesome-4.7/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../assets/fonts/font-awesome-5/css/fontawesome-all.min.css"
    />
    <!-- Bootstrap CSS-->
    <link
      href="../assets/vendor/bootstrap-4.1/bootstrap.min.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Main CSS-->
    <link
      href="../assets/styles/theme/theme.css"
      rel="stylesheet"
      media="all"
    />

    <!-- Animações -->
    <link rel="stylesheet" href="../assets/styles/theme/aos.css" />

    <link rel="stylesheet" href="../assets/styles/dashboard.css" />
    <style>
      .navbar-sidebar li.active,
      .navbar-sidebar li.active a {
        background-color: #fff !important;
        border-radius: 0.5rem;
        color: #000 !important;
      }

      .navbar-sidebar li a {
        padding-left: 1rem !important;
      }

      .bg-user-estacionamento {
        display: flex !important;
        flex-wrap: wrap;
      }

      .bg-user-estacionamento .navbar-sidebar {
        width: 100%;
        height: 80%;
      }
      .stans-office {
        width: 100%;
        height: 10%;
        background-color: #e5e5e5 !important;

        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .stans-office h2 {
        font-weight: normal;
        font-size: 20px !important;
        color: #e3a667;
      }

      .banner-dashboard {
        margin-top: -120px;
      }

      .btn-primary {
        background: #a13529;
        border: 0;
      }
    </style>
  </head>
  <body class="animsition">
    <div class="page-wrapper">
      <!-- Header -->
      <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
          <div class="container-fluid">
            <div class="header-mobile-inner">
              <a class="logo" href="index.html">
                <img src="images/icon/logo.png" alt="CoolAdmin" />
              </a>
              <button class="hamburger hamburger--slider" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <nav class="navbar-mobile">
          <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
              <li>
                <a href="home.html"> <i class="fas fa-home"></i>Home</a>
              </li>
              <li>
                <a href="database.html">
                  <i class="fas fa-table"></i>Databases</a
                >
              </li>
              <li>
                <a href="providers.html">
                  <i class="far fa-check-square"></i>Providers</a
                >
              </li>
              <li>
                <a href="schedules.html">
                  <i class="fas fa-calendar-alt"></i>Schedules</a
                >
              </li>
              <li>
                <a href="../index.html">
                  <i class="fas fa-map-marker-alt"></i>Sair</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- END HEADER MOBILE-->

      <!-- MENU SIDEBAR-->
      <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo dash-aside-bg">
          <a href="#" class="text-white">PAINEL DE CONTROLO</a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1 bg-user-estacionamento">
          <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
              <li>
                <a href="index.php?id=home"> <i class="fas fa-home"></i>Home</a>
              </li>
              <li>
                <a href="registro.php?id=registro">
                  <i class="fas fa-car"></i>Postos de Identificação</a
                >
              </li>
              <li>
                <a href="registro-online.php?id=online">
                  <i class="fas fa-address-book"></i>Agendamentos</a
                >
              </li>
              <li>
                <a href="perfil.php?id=perfil">
                  <i class="fas fa-users"></i>Usuários</a
                >
              </li>
              <li>
                <a href="?logout=true"> <i class="fas fa-power-off"></i>Sair</a>
              </li>
            </ul>
          </nav>
          <div class="stans-office">
            <h2>Sistema de Gestão de Agenda</h2>
          </div>
        </div>
      </aside>
      <!-- Header -->

      <!-- PAGE CONTAINER-->
      <div class="page-container">
        <!-- MAIN CONTENT-->
        <div class="main-content">
          <div class="banner-dashboard"></div>
          <div
            class="section__content section__content--p30"
            style="margin-top: -100px"
          >
            <div class="container-fluid">
              <div class="row mt-4">
                <!-- <div
                  class="col-md-4 col-lg-4"
                  data-aos="fade-down"
                  data-aos-duration="500"
                >
                  <div class="rounded p-4 borda-top">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="borda-icons shadow">
                          <i class="fas fa-users"></i>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <h3>
                          <?php 
                            $contabilizandoClientes = new Model();
                            $contar = $contabilizandoClientes->EXE_QUERY("SELECT * FROM tb_cliente"); 
                            echo count($contar);
                          ?>
                        </h3>
                        <span>Total de Clientes</span>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div
                  class="col-md-4 col-lg-4"
                  data-aos="fade-down"
                  data-aos-duration="800"
                >
                  <div class="rounded p-4 borda-top">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="borda-icons shadow">
                          <i class="fas fa-database"></i>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <h3>3</h3>
                        <span>Vagas Solicitadas</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="col-md-4 col-lg-4"
                  data-aos="fade-down"
                  data-aos-duration="1200"
                >
                  <!-- <div class="rounded p-4 borda-top">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="borda-icons shadow">
                          <i class="fas fa-car"></i>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <h3>
                          <?php 
                            $contabilizandoCarros = new Model();
                            $contar = $contabilizandoCarros->EXE_QUERY("SELECT * FROM tb_carro_cliente"); 
                            echo count($contar);
                          ?>
                        </h3>
                        <span>Total de Carros</span>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>

              <div class="row mt-4">
                <div
                  class="col-lg-12 col-xl-12 col-sm-12"
                  data-aos="fade-left"
                  data-aos-duration="2300"
                >
                  <div class="rounded p-4 borda-top">
                    <h1 class="title">Gráfico Mensal de Solicitações</h1>
                    <hr />
                    <div class="charts mt-2">
                      <canvas
                        id="mycompra-chart"
                        style="height: 250px"
                      ></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Jquery JS-->
  <script src="../assets/vendor/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap JS-->
  <script src="../assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
  <!-- Vendor JS       -->
  <script src="../assets/vendor/animsition/animsition.min.js"></script>
  <!-- Main JS-->
  <script src="../assets/scripts/theme/main.js"></script>

  <script src="../assets/scripts/Chart.min.js"></script>

  <script>
    $(function () {
      $('#dataGeral').dataTable();
      $('#perfilUsuarioTable').dataTable();
      $('#vagaTable').dataTable();
      $('#entradaCarro').dataTable();
      $('#saidaCarro').dataTable();
      $('#solicitacaoTable').dataTable();
      $('#carroRegistrado').dataTable();

      // Trabalhar nos gráficos
      var lineChart = document.getElementById("mycompra-chart").getContext("2d");
      var myLineChart = new Chart(lineChart, {
      type: "bar",
      data: {
          labels: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec",
          ],
          datasets: [
          {
              label: "Clientes registadas",
              borderColor: "#212121",
              pointBorderColor: "#212121",
              pointBackgroundColor: "#212121",
              pointBorderWidth: 2,
              pointHoverRadius: 4,
              pointHoverBorderWidth: 1,
              pointRadius: 4,
              backgroundColor: "#212121",
              fill: true,
              borderWidth: 2,
              data: <?= json_encode($clientesMensal) ?>,
          },
          ],
      },
      options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
          position: "bottom",
          labels: {
              padding: 10,
              fontColor: "#1f6feb",
          },
          },
          tooltips: {
          bodySpacing: 4,
          mode: "nearest",
          intersect: 0,
          position: "nearest",
          xPadding: 10,
          yPadding: 10,
          caretPadding: 10,
          },
          layout: {
          padding: { left: 15, right: 15, top: 15, bottom: 15 },
          },
      },
      });
    });
  </script>
</html>
