body {
  font-family: "Poppins", sans-serif;
}

.menu-sidebar {
  box-shadow: none !important;
  background: linear-gradient(#e3a567c2, #a13529), url(../images/photo1.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  border: none !important;
}

.borda-top {
  background-color: #fff;
  border-top: 4px solid #fff;
}

.menu-sidebar__content li.active a,
.menu-sidebar__content li a:hover {
  color: #fff !important;
}

.borda-icons {
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  text-align: center;
  background: linear-gradient(#e3a567c2, #a13529);
}

.borda-icons i {
  font-size: 1.6rem;

  color: #fff;
}

.title {
  font-size: 1.3rem;
  font-weight: 300;
}

.navbar-sidebar li.active,
.navbar-sidebar li.active a {
  background-color: #fff !important;
  border-radius: 0.5rem;
  color: #e3a567 !important;
}

.navbar-sidebar li a {
  padding-left: 1rem !important;
  color: #fff !important;
}

/* HEADER TOP */
.header-top {
  background: #e3a567;
  height: 10vh;
  height: 250px;
}

.header-top .container {
  width: 94%;
}

.header-top .container .perfil-avatar {
  display: flex;
  gap: 0.5rem;
}

.header-top .container .perfil-avatar img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.header-top .container .display-avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.header-top .container .display-avatar a {
  color: #fff;
}

.dash-aside-bg {
  height: 8vh;

  display: flex;
  align-items: center;
  padding-inline: 2.2rem;

  border-bottom: 1px solid #fff;
}

.dash-aside-bg a {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
