* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  justify-content: space-between;
}

.content-banner {
  background-image: linear-gradient(#e3a56794, #a13529c7),
    url(views/assets/images/09.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
}

.login {
  width: 50%;
  height: 100vh;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.login form .logo {
  text-align: center;
  margin-bottom: 2rem;
}

.login form input {
  width: 60%;
  padding: 1rem;
  margin-top: 1rem;

  border: 1px solid #ccc;
  border-radius: 0.2rem;
  outline: none;
}

.login form input[type="submit"] {
  background: #a13529;
  border: 1px solid #a13529;
  color: #fff;
}

.login form .criar-conta {
  margin-top: 2rem;
}

.login form .criar-conta a {
  color: #a13529;
  text-decoration: none;
}

@media (max-width: 640px) {
  .content-banner {
    display: none;
  }

  .login {
    width: 100%;
  }

  .login form input {
    width: 90%;
  }
}